*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62,5%; }

body {
  font-family: sans-serif;
  font-weight: 400;
  line-hieight: 1.7;
  padding: 3rem;
  box-sizing: border-box; }

.header {
  color: green; }

.post {
  color: blue; }

.mainroot {
  background-color: white; }

.test_bgimage {
  background-image: url("../img/pelto.jpg");
  background-size: cover;
  width: 50%;
  height: 50vh; }

.test_layerimage {
  width: 50%;
  height: 50vh; }
  .test_layerimage__image {
    width: 100%;
    height: 100%;
    object-fit: cover; }

.test_svgbg {
  width: 50%;
  height: 50vh;
  background-color: green;
  display: flex;
  justify-content: center;
  align-items: center; }
  .test_svgbg__svgel {
    width: auto;
    height: 100%; }
    .test_svgbg__svgel__circle {
      cx: 50;
      cy: 50;
      r: 40;
      stroke: red;
      stroke-width: 4px;
      fill: yellow; }
