$color-pri: green;
$color-pri-dark: darkgreen;
$color-pri-light: lightgreen;

$color-sec: blue;
$color-sec-dark: darkblue;
$color-sec-light: lightblue;

$color-tri: red;
$color-tri-dark: darkred;
$color-tri-light: lightred;

$file-img-path: "file://C:/Users/risberg/Documents/opiskelu/projects/test1/public_html/img/";